@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700&display=swap');
h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
div,
ul,
li,
ol,
a {
    font-family: 'Montserrat', sans-serif;
}

.container-fluid {
    padding-left: 30px !important;
    padding-right: 30px !important;
}

h3 {
    font-size: 24px !important;
    font-weight: 600 !important;
}

nav.navbar.navbar-expand-lg.navbar-light {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 99;
}

.navbar {
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
}

ul.custom-nav-width {
    width: 100% !important;
    justify-content: space-around !important;
}

.search-input-grp {
    background-color: #fff !important;
    /* margin-top: 8px; */
}

.custom-nav-width form input[type="search"]::placeholder {
    color: rgb(0 0 0 / 34%) !important;
    font-family: Montserrat;
    font-weight: 700;
    font-size: 14px
}

.custom-nav-width form input[type="search"]:focus {
    box-shadow: none;
}

.search-input {
    font-size: 12px !important;
}

.custom-nav-width form input[type="search"] {
    height: 20px;
    padding-top: 7px;
}

#button-addon1 {
    padding-top: 0px;
}

i.fa-search {
    color: #db3c4d;
    ;
}

.navbar-light .navbar-nav .nav-link {
    color: rgb(0 0 0);
    text-transform: uppercase;
    font-family: cplight;
}

ul.navbar-nav li {
    margin: auto;
}

.w-500 {
    width: 500px;
    ;
}

li.nav-item:nth-child(1) {
    width: 25%;
}

.navbar-dark .navbar-nav .nav-link {
    color: #fff !important;
}

li.nav-item:nth-child(1) a {
    font-size: 35px;
    font-weight: 700;
}

ul.navbar-nav li a {
    text-decoration: none;
    color: #fff !important;
}

.search-div {
    padding-top: 15px;
}

.navbar-dark .navbar-nav a:hover {
    /* font-weight: 600; */
}

.footer .row {
    display: flex;
    flex-wrap: wrap;
}

.footer ul {
    list-style: none;
}

.footer li {
    text-align: justify;
}

.footer {
    background: linear-gradient(22deg, rgba(214, 50, 74, 1) 0%, rgba(234, 91, 85, 1) 84%, rgba(234, 91, 85, 1) 100%);
    padding: 70px 0;
    border: 2px solid #ab3642;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
}

.footer-col {
    width: 15%;
    padding: 0 15px;
}

.footer-col:nth-child(4) {
    width: 35%;
    padding: 0 15px;
}

.footer-col ul li:not(:last-child) {
    margin-bottom: 10px;
}

.footer-col ul li a {
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #fff;
    display: block;
    transition: all 0.3s ease;
}

.footer-col ul li a:hover {
    font-weight: 600;
    /* padding-left: 8px; */
}

.footer-col .social-links a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
}

.footer-col .social-links a:hover {
    color: #24262b;
    background-color: #ffffff;
}

.footer-pd {
    padding-right: 50px !important;
    padding-left: 50px !important;
}

.hero {
    background-position: 50% 50%;
    /* This could be 50% 50%, 0 0, or really anything.  The world is your stinky little oyster! */
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
    overflow: hidden;
    position: relative;
    width: 100%;
    background-image: url('../images/hero-img.png');
}

span.slot-dot {
    background: linear-gradient( 22deg, rgba(214, 50, 74, 1) 0%, rgba(234, 91, 85, 1) 84%, rgba(234, 91, 85, 1) 100%);
    padding: 0 8px;
    border-radius: 5px;
}


/* Add a slight overlay on our image */

.hero:after {
    bottom: 0;
    content: '';
    left: -2000%;
    position: absolute;
    right: -2000%;
    top: 0;
    z-index: -9;
}

.hero-container {
    height: auto;
    /* padding: 500px 50px; */
    position: absolute;
    text-align: center;
    z-index: 2;
    bottom: 0px;
    width: 100%;
    padding-left: 50px;
    padding-right: 50px;
    display: flex;
}

.explore-btn {
    color: #fff !important;
    font-family: sans-serif;
    font-size: 18px !important;
    letter-spacing: 1px;
    border-radius: 25px !important;
    width: 220px;
}

.hero-title {
    color: white;
    /* font-family: sans-serif; */
    font-size: 38px;
    font-weight: 500;
    letter-spacing: 1px;
    text-align: left;
    padding-bottom: 20px;
    width: 87%;
}

.tile {
    color: #FFF;
    display: inline-block;
    margin: 5px 8px;
    /* padding: 5px; */
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: background-position 0.1s ease 0s;
    vertical-align: top;
}

.tile:hover {
    background-position: 100% 0;
    color: #FFFFFF;
    cursor: pointer;
    -webkit-transform: scale(0.97) perspective(400px);
    -moz-transform: scale(0.97) perspective(400px));
    -ms-transform: scale(0.97) perspective(400px);
    transform: scale(0.97) perspective(400px);
}

.tile>span {
    bottom: 5px;
    font-size: 20px;
    font-weight: bold;
    left: 0;
    margin: 0 auto;
    overflow: hidden;
    padding: 4px;
    position: absolute;
    right: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    bottom: 20px;
}

.icon-tile {
    height: 270px;
    width: 11.7% !important;
    padding-right: 45px;
    padding-left: 45px;
    border-radius: 25px;
}

.checkout-pg .icon-tile {
    padding-right: 0px;
    padding-left: 0px;
    width: 23% !important;
    height: 255px;
}

.checkout-pg .icon-tile img {
    object-fit: contain;
}

.tiles {
    margin: 50px 4px;
}

.clr-red {
    background: linear-gradient(22deg, rgba(214, 50, 74, 1) 0%, rgba(234, 91, 85, 1) 84%, rgba(234, 91, 85, 1) 100%);
}

.clr-white {
    background-color: #fff;
}

.icon-tile i {
    font-size: 80px;
}

.cat-img {
    width: auto;
    height: auto;
    position: relative;
    top: 100px;
}

.photo {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: space-between;
}

.heart {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    position: absolute;
    right: 0;
    top: 5px;
}

.no-love {
    fill: none;
    stroke: white;
    stroke-width: 2px;
}

.love {
    fill: #F9004B;
    stroke: #F9004B;
    stroke-width: 2px;
}

.navbar a.nav-link {
    font-size: 15px;
    font-weight: 700;
}

input.form-control.border-0.bg-light.search-input {
    height: 46px;
    background-color: #ffffff !important;
    border-radius: 25px;
}

.custom-width {
    min-width: 20%;
}

.ad-banner1 {
    width: 100%;
    height: 100%;
}

.ad-banner2 {
    width: 100%;
    height: 100%;
}

.hero-text {
    width: 45%;
}

.hero-btn {
    width: 50%;
    text-align: left;
    padding-top: 45px;
}

.ad-banner1-listing {
    width: 100%;
    height: 100%;
    object-position: bottom;
    padding-top: 40px;
}

.ad-banner2-listing {
    width: 100%;
    height: 100%;
    object-position: bottom;
}

h2.beach-hut {
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 0px;
}

h3.back-to-home {
    text-align: right;
    font-size: 18px !important;
    font-weight: 600 !important;
    color: grey;
    padding-top: 29px;
}

.listing-page-popular {
    padding-top: 20px;
}

.col.title-left {
    padding-bottom: 5px;
}

.carousel {
    position: relative;
}

.carousel-item img {
    object-fit: cover;
}

.h-65 {
    height: 65%;
}

#carousel-thumbs {
    background: rgba(255, 255, 255, .3);
    bottom: 0;
    left: 0;
    padding: 0 50px;
    right: 0;
}

#carousel-thumbs img {
    cursor: pointer;
}

#carousel-thumbs img:hover {
    border-color: rgba(255, 255, 255, .3);
}

#carousel-thumbs .selected img {
    border-color: #fff;
}

.carousel-control-prev,
.carousel-control-next {
    width: 50px;
}

.carousel-control-next, .carousel-control-prev {
    opacity: 0.9 !important;
    width: 2.1% !important;
    margin-top: 18px;
    height: 77%;
    top: 0 !important;
}

.carousel-control-prev {
    background: linear-gradient(22deg, rgba(214, 50, 74, 1) 0%, rgba(234, 91, 85, 1) 84%, rgba(234, 91, 85, 1) 100%);
    border: 1px solid #ab3642;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}
.carousel-control-next {
    background: linear-gradient(22deg, rgba(214, 50, 74, 1) 0%, rgba(234, 91, 85, 1) 84%, rgba(234, 91, 85, 1) 100%);
    border: 1px solid #ab3642;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    /* background-image: url(data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E); */
    background-image: none !important;
}

.sliders-row {
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 25px;
}

.pr-pl-15 {
    padding-right: 30px !important;
    padding-left: 30px !important;
}

.thumb {
    margin: 0 16px;
}

.slider-img {
    max-width: 100%;
    height: auto;
    padding: 0;
}

.booking-date-heading {
    margin: 20px 0px;
    background: rgb(214, 50, 74);
    background: linear-gradient(22deg, rgba(214, 50, 74, 1) 0%, rgba(234, 91, 85, 1) 84%, rgba(234, 91, 85, 1) 100%);
    padding: 13px 0px;
    border-radius: 15px;
    margin-bottom: 30px;
}

.col-spacing {
    padding: 1em;
    /* margin: 0 7px; */
    border-radius: 10px !important;
}

.small-headng {
    font-size: 12px;
}

.badge-rating {
    background: #018A3E;
    color: #fff;
    padding: 20px 30px !important;
    margin: 0 30px;
}

.booking-date-heading h1 {
    text-align: center;
    color: #fff;
    font-weight: 600;
    margin-bottom: 0px;
}
.check-availability-btn:hover {
    text-decoration: none;
}
a.custm-card {
    color: inherit;
}
a.custm-card:hover {
    color: inherit;
    text-decoration: none;
}
/*CHECKOUT PAGE*/

.row.checkout-sum {
    border: 1px solid #00000033;
    border-radius: 14px;
    box-shadow: 0px 0px 5px #0000003b;
    padding: 45px 40px 120px;
}

h2.iland-title {
    font-weight: 700;
    font-size: 28px;
}

h2.iland-price {
    font-weight: 700;
    font-size: 34px;
    text-align: right;
}

.row.checkout-sum p {
    font-size: 15px;
    padding-top: 32px;
}

.checkout-total {
    border: 1px solid #00000033;
    border-radius: 14px;
    box-shadow: 0px 0px 5px #0000003b;
    padding: 30px 30px !important;
    max-width: 56% !important;
    margin-left: 20px;
}

a.book-btn-cnfrm-link:hover {
    text-decoration: none;
    color: #fff;
}

.cont-no-col {
    border: 1px solid #00000033;
    border-radius: 14px;
    box-shadow: 0px 0px 5px #0000003b;
    max-width: 50% !important;
    padding: 30px 30px !important;
}

.row.checkout-cont-d {
    margin-top: 22px;
}

.row {}

.cont-no-dv {
    border-bottom: 1px solid #00000024;
    padding-top: 15px;
}

p.cont-bot-p {
    margin-bottom: 5px;
    font-size: 14px;
}

p.cont-no-heading {
    font-size: 14px;
}

table.checkout-total-table {
    width: 100%;
}

td.sub-total {
    text-align: right;
}

td.gst {
    text-align: right;
}

a.voucher-link {}

.voucher-link-dv {
    padding-top: 9px;
    padding-bottom: 10px;
}

div.sub-total {
    border-bottom: 1px solid #ccc;
}

h3.pay-heading {
    padding-top: 15px;
    font-size: 15px !important;
    font-weight: 500 !important;
    padding-bottom: 20px;
}

a.cod-btn {
    background: #d8374b;
    color: #fff;
    padding: 13px 20px;
    /* margin-top: 20px !important; */
    font-size: 14px;
}

a.online-btn {
    background: #6A6C6D;
    color: #fff;
    padding: 13px 20px;
    font-size: 14px;
}

table.checkout-total-table tr td {
    padding: 9px 0px;
}

.confirm-booking {
    margin: 20px 0px;
    background: rgb(214, 50, 74);
    background: linear-gradient( 22deg, rgba(214, 50, 74, 1) 0%, rgba(234, 91, 85, 1) 84%, rgba(234, 91, 85, 1) 100%);
    padding: 13px 0px;
    border-radius: 15px;
    margin-bottom: 30px;
}

.book-btn-cnfrm-link {
    text-align: center;
    color: #fff;
    font-weight: 600;
    margin-bottom: 0px;
    width: 100%;
    display: flex;
    font-size: 40px;
    padding-left: 50px;
    padding-right: 50px;
}

span.cnfrm-bk-title {
    text-align: left;
    width: 100%;
    /* display: inline-block; */
}

.checkout-tiles .tiles {
    margin-top: 0px;
}

.checkout-addon h4.card-title.pb-3 {
    font-size: 18px !important;
    font-weight: 600;
    padding-bottom: 5px !important;
}

.col.online-btn-div {
    text-align: right;
}


/*CHECKOUT PAGE*/

fieldset,
label {
    margin: 0;
    padding: 0;
}

body {
    margin: 20px;
}

h1 {
    font-size: 1.5em;
    margin: 10px;
}


/****** Style Star Rating Widget *****/

.rating {
    border: none;
    float: left;
}

.rating>input {
    display: none;
}

.rating>label:before {
    margin: 5px;
    font-size: 1.25em;
    font-family: 'Font Awesome 5 Free';
    display: inline-block;
    content: "\f005";
    border: 1px solid #fff;
    padding: 0 5px;
}

.rating>.half:before {
    content: "\f089";
    position: absolute;
}

.rating>label {
    color: #ddd;
    float: right;
}


/***** CSS Magic to Highlight Stars on Hover *****/

.rating>input:checked~label,

/* show gold star when clicked */

.rating:not(:checked)>label:hover,

/* hover current star */

.rating:not(:checked)>label:hover~label {
    color: #FFD700;
}


/* hover previous stars in list */

.rating>input:checked+label:hover,

/* hover current star when changing rating */

.rating>input:checked~label:hover,
.rating>label:hover~input:checked~label,

/* lighten current selection */

.rating>input:checked~label:hover~label {
    color: #FFED85;
}

.bg-clr {
    background: linear-gradient(22deg, rgba(214, 50, 74, 1) 0%, rgba(234, 91, 85, 1) 84%, rgba(234, 91, 85, 1) 100%) !important;
}

.rate-place {
    color: #fff;
    font-size: 26px;
}

p.rate-place {
    margin: 20px 0;
}

fieldset.rating.rate-place {
    margin: 10px 0;
}

.custm-wdth1 {
    max-width: 57.333333% !important;
}

.custm-wdth2 {
    max-width: 40.666667% !important;
}

.custm-wdth3 {
    max-width: 65.666667% !important;
}

.custm-wdth4 {
    max-width: 32.333333% !important;
}

.facilities-list {
    list-style: none;
}

.facilities-list li {
    font-size: 14px;
    color: #b44a55;
    font-weight: 600;
}

.availability-img {
    margin: auto;
    width: 65px;
    height: 55px;
}

.availability-headng {
    font-size: 25px;
    color: #fff;
    text-align: center;
}

a.lang-switch {
    text-decoration: none !important;
    background-color: transparent;
    font-size: 22px;
    color: #fff !important;
    font-weight: 600;
    display: inline-block;
    margin: 0 2px;
}

a.footer-img img {
    display: inline-block;
}

.card {
    box-shadow: 0px 2px 5px #00000021;
    border-radius: 12px !important;
    border-top-right-radius: 18px !important;
    border-top-left-radius: 18px !important;
}

.mi-card-title {
    font-weight: 700;
    font-size: 21px;
}

h6.mi-card-subtitle {
    font-size: 14px;
    font-weight: 600;
    color: rgb(0 0 0 / 39%) !important;
}


/*SUBMISSION FORMS*/

input[type="text"],
input[type="phone"] {
    border: 0px;
    border-bottom: 2px solid rgb(0 0 0 / 14%);
    width: 100%;
    padding: 7px;
}

textarea {
    border: 0px;
    border-bottom: 2px solid rgb(0 0 0 / 14%);
    width: 100%;
    padding: 7px;
    height: 100px;
}

select {
    border: 0px;
    border-bottom: 2px solid rgb(0 0 0 / 14%);
    width: 49%;
    padding: 7px;
}

label.uploadlabel {
    padding: 8px 20px;
    background: rgb(214, 50, 74);
    background: linear-gradient( 22deg, rgba(214, 50, 74, 1) 0%, rgba(234, 91, 85, 1) 84%, rgba(234, 91, 85, 1) 100%);
    display: table;
    color: #fff;
    cursor: pointer;
    border-radius: 18px;
    font-weight: 600;
}

input[type="file"] {
    display: none;
}

.form-first-row,
.sec-row,
.form-third-row,
.form-four-row,
.form-sec-row,
.pic-upload {
    margin-bottom: 20px;
}

.booking-forms li {
    font-size: 14px;
    color: #D6324A;
    font-weight: 800;
    margin: 18px 0;
}

a.form-add-details-btn {
    text-decoration: none;
    color: #fff;
    background: linear-gradient(22deg, rgba(214, 50, 74, 1) 0%, rgba(234, 91, 85, 1) 84%, rgba(234, 91, 85, 1) 100%);
    padding: 5px 25px;
    border-radius: 15px;
}

a.form-add-details-btn:hover {
    text-decoration: none;
    color: #fff;
}

.booking-forms ul {
    list-style: none;
    padding-left: 0px;
}

.form-sec-row .col-left .timeselection {
    margin-top: 37px !important;
}

input[type="submit"] {
    /* margin: 20px 0px; */
    background: rgb(214, 50, 74);
    background: linear-gradient( 22deg, rgba(214, 50, 74, 1) 0%, rgba(234, 91, 85, 1) 84%, rgba(234, 91, 85, 1) 100%);
    padding: 13px 0px;
    border-radius: 15px;
    margin-bottom: 30px;
    width: 100%;
    color: #fff;
    font-weight: 700;
    border: 0px;
    font-size: 40px;
}


/*SUBMISSION FORMS*/


/*LOGIN PAGE CSS*/

.login-page,
.register-page {
    background-image: url('/frontend/images/hero-img.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.login-page h1,
.register-page h1 {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 30px;
}

body.login-page button.btn.btn-primary.btn-block {
    background: linear-gradient( 22deg, rgba(214, 50, 74, 1) 0%, rgba(234, 91, 85, 1) 84%, rgba(234, 91, 85, 1) 100%);
    border: 0px;
    border-radius: 20px;
}

body.login-page input[type="email"] {
    border: 0px;
    background-color: #fff !important;
    border-bottom: 2px solid rgb(0 0 0 / 23%);
    margin-bottom: 20px;
}

body.login-page input[type="password"],
body.login-page input[type="phone"],
body.login-page input[type="email"],
body.login-page input[type="text"] {
    border: 0px;
    background-color: #fff !important;
    border-bottom: 2px solid rgb(0 0 0 / 23%);
    margin-bottom: 20px;
}

.login-card-body .input-group .input-group-text,
.register-card-body .input-group .input-group-text {
    border: 0px;
}

.row.sign-in-remember {
    margin-bottom: 20px;
}

.login-card-body,
.register-card-body {
    background-color: #fff;
    border-top: 0;
    color: #666;
    padding: 35px;
    border-radius: 57px !important;
}

.login-card-body label:not(.form-check-label):not(.custom-file-label) {
    font-weight: 600;
    font-size: 14px;
    color: #e45052;
}

.sign-up-login-btn,
.forget-pass-login-btn {
    font-size: 13px;
    font-weight: 600;
}

.sign-up-login-btn a,
.forget-pass-login-btn a {
    color: #e24b51;
}


/* Change the white to any color */

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}


/*LOGIN PAGE CSS END*/


/* Media Queries */

@media screen and (max-width:2526px) {
    .icon-tile {
        width: 11.6% !important;
    }
    .carousel-control-next, .carousel-control-prev {
        opacity: 0.9 !important;
        width: 2.1% !important;
        margin-top: 18px;
        height: 82%;
        top: 0 !important;
    }
}

@media screen and (max-width:2253px) {
    .icon-tile {
        width: 11.5% !important;
    }
    .carousel-control-next, .carousel-control-prev {
        height: 82%;
    }
}

@media screen and (max-width:2035px) {
    .icon-tile {
        width: 11.4% !important;
    }
    .tile>span {
        font-size: 16px;
    }
    .carousel-control-next, .carousel-control-prev {
        height: 78%;
    }
}

@media screen and (max-width:2021px) {
    .checkout-pg .icon-tile {
        padding-right: 0px;
        padding-left: 0px;
        width: 22.9% !important;
        height: 240px;
    }
}

@media screen and (max-width:1930px) {
    .checkout-pg .icon-tile {
        padding-right: 0px;
        padding-left: 0px;
        width: 22.5% !important;
        height: 200px;
    }
    .checkout-pg .cat-img {
        width: auto;
        height: auto;
        position: relative;
        top: 50px;
    }
}

@media screen and (max-width:1920px) {
    .icon-tile {
        width: 11.4% !important;
        height: 220px;
    }
    .cat-img {
        top: 70px;
    }
    .sliders-row {
        justify-content: center;
        padding-top: 10px;
    }
    .carousel-control-next, .carousel-control-prev {
        height: 77%;
    }
}

@media screen and (max-width:1856px) {
    .icon-tile {
        width: 11.3% !important
    }
    .carousel-control-next, .carousel-control-prev {
        height: 76%;
    }
}

@media screen and (max-width:1835px) {
    .icon-tile {
        width: 11.4% !important;
    }
    .tile {
        margin: 5px 7px;
    }
    .cat-img {
        width: 90px;
        height: 80px;
    }
    .checkout-pg .tile>span {
        font-size: 14px;
    }
}

@media screen and (max-width:1680px) {
    .icon-tile {
        width: 11.3% !important;
        height: 180px;
    }
    .cat-img {
        top: 40px;
    }
    .tile>span {
        font-size: 14px;
    }
    .rate-place {
        color: #fff;
        font-size: 22px;
    }
    h3.checkin-text {
        font-size: 20px !important;
        font-weight: 600 !important;
    }
    .facilities-list li {
        font-size: 14px;
    }
    .sliders-row {
        justify-content: center;
        padding-top: 10px;
    }
    .carousel-control-next, .carousel-control-prev {
        height: 75%;
        width: 2.5% !important;
    }
    .checkout-total {
        margin-left: 18px;
    }
}

@media(max-width:1600px){
    .carousel-control-next, .carousel-control-prev {
        height: 73%;
    }
}

@media screen and (max-width:1540px) {
    .icon-tile {
        width: 11.2% !important;
    }
    .checkout-pg .icon-tile {
        padding-right: 0px;
        padding-left: 0px;
        width: 22% !important;
        height: 150px;
    }
    .checkout-pg .cat-img {
        width: 70px;
        height: 70px;
        top: 35px;
    }
    .checkout-pg .tile>span {
        font-size: 12px;
    }
    a.cod-btn,
    a.online-btn {
        padding: 12px;
    }
    .checkout-total {
        margin-left: 17px;
    }
}

@media screen and (max-width:1440px) {
    .mi-card-title {
        font-size: 18px !important;
    }
    .mi-card-subtitle {
        font-size: 14px !important;
    }
    .footer-col ul li a {
        font-size: 14px;
    }
    .hero-title {
        font-size: 32px;
    }
    .icon-tile {
        width: 11% !important;
        height: 140px;
    }
    .cat-img {
        width: 100%;
        height: 50px;
        top: 35px;
    }
    .tile {
        margin: 5px 8px;
    }
    .tile>span {
        font-size: 12px;
    }
    .rate-place {
        color: #fff;
        font-size: 22px;
    }
    h3.checkin-text {
        font-size: 16px !important;
        font-weight: 600 !important;
    }
    .facilities-list li {
        font-size: 12px;
    }
    .sliders-row {
        justify-content: center;
        padding-top: 10px;
    }
    .footer-col:nth-child(1) , .footer-col:nth-child(2) , .footer-col:nth-child(3) ,.footer-col:nth-child(4) , .footer-col:nth-child(5) {
        width: 20%;
        padding: 0 15px;
    }
    .carousel-control-next, .carousel-control-prev {
        opacity: 0.9 !important;
        width: 3% !important;
        margin-top: 15px;
        height: 70%;
        top: 3px !important;
    }
    .checkout-total {
        margin-left: 16px;
    }
}

@media screen and (max-width:1380px) {
    .tile {
        margin: 5px 7px;
    }
    .tile>span {
        font-size: 12px;
    }
    .rate-place {
        color: #fff;
        font-size: 22px;
    }
    h3.checkin-text {
        font-size: 16px !important;
        font-weight: 600 !important;
    }
    .facilities-list li {
        font-size: 12px;
    }
    .sliders-row {
        justify-content: center;
        padding-top: 10px;
    }
    .carousel-control-next, .carousel-control-prev {
        opacity: 0.9 !important;
        width: 2.5% !important;
        margin-top: 15px;
        height: 69%;
        top: 3px !important;
    }
    .checkout-total {
        margin-left: 15px;
    }
}

@media screen and (max-width:1366px) {
    .tile {
        margin: 5px 7.5px;
    }
    .tile>span {
        font-size: 11px;
    }
    a.cod-btn,
    a.online-btn {
        padding: 10px 8px;
    }
    .booking-date-heading h1,
    .book-btn-cnfrm-link {
        font-size: 35px;
    }
    .sliders-row {
        justify-content: center;
        padding-top: 10px;
    }
    .rate-place {
        color: #fff;
        font-size: 22px;
    }
    h3.checkin-text {
        font-size: 16px !important;
        font-weight: 600 !important;
    }
    .facilities-list li {
        font-size: 12px;
    }
    .footer-col:nth-child(1) , .footer-col:nth-child(2) , .footer-col:nth-child(3) ,.footer-col:nth-child(4) , .footer-col:nth-child(5) {
        width: 20%;
        padding: 0 15px;
    }
}

@media screen and (min-width:1366px) {
    .hero {
        height: 800px !important;
    }
    /* .footer-col ul li a {
        font-size: 13px;
    } */
}

@media screen and (max-width:1312px) {
    .tile {
        margin: 5px 7px;
    }
    .checkout-total {
        margin-left: 14px;
    }
}

@media screen and (max-width: 1280px) {
    .mi-card-subtitle {
        font-size: 12px !important;
    }
    .footer-col {
        width: 20% !important;
        padding: 0 6px !important;
    }
    .icon-tile {
        width: 10.9% !important;
        height: 140px;
    }
    .cat-img {
        width: 50px;
        height: 50px;
        right: calc(100% - 40px);
        top: 40px;
    }
    .tile {
        margin: 5px 7px;
    }
    .tile>span {
        font-size: 10px;
    }
    a.online-btn,
    a.cod-btn {
        font-size: 12px;
    }
    .checkout-pg .icon-tile {
        width: 22% !important;
        height: 140px;
    }
    .checkout-pg .cat-img {
        width: 50px;
        height: 50px;
        top: 40px;
        right: calc(100% - 130px);
    }
    .checkout-pg .tile>span {
        font-size: 10px;
    }
    .booking-date-heading h1,
    .book-btn-cnfrm-link {
        font-size: 30px;
    }
    .rate-place {
        color: #fff;
        font-size: 22px;
    }
    h3.checkin-text {
        font-size: 16px !important;
        font-weight: 600 !important;
    }
    .facilities-list li {
        font-size: 12px;
    }
    .carousel-control-next, .carousel-control-prev {
        opacity: 0.9 !important;
        width: 2.5% !important;
        margin-top: 15px;
        height: 67%;
        top: 3px !important;
    }
    .checkout-total {
        margin-left: 14px;
        padding: 15px 10px !important;
    }
    .cont-no-col{
        padding: 10px 10px !important;
    }
}

@media(max-width:1200px) {
    .cat-img {
        width: 50px;
        height: 50px;
        right: calc(100% - 25px);
        top: 40px;
    }
    .checkout-pg .cat-img {
        right: calc(100% - 120px);
    }
    .tile {
        margin: 5px 6px;
    }
    a.online-btn,
    a.cod-btn {
        font-size: 11px;
    }
    .checkout-pg .icon-tile {
        width: 22.2% !important;
        height: 140px;
    }
    .checkout-addon h4.card-title.pb-3 {
        font-size: 16px !important;
    }
    .checkout-addon .card-subtitle {
        font-size: 10px !important;
    }
    .rate-place {
        color: #fff;
        font-size: 20px;
    }
    h3.checkin-text {
        font-size: 16px !important;
        font-weight: 600 !important;
    }
    .facilities-list li {
        font-size: 12px;
    }
    .mi-card-title {
        font-size: 16px !important;
    }
    .carousel-control-next, .carousel-control-prev {
        opacity: 0.9 !important;
        width: 2.5% !important;
        margin-top: 15px;
        height: 66%;
        top: 3px !important;
    }
    .checkout-total {
        margin-left: 13px;
    }
}

@media(max-width:1024px) {
    .card-resp-1024 {
        min-width: 150px !important;
    }
    .footer-col:nth-child(1), .footer-col:nth-child(2), .footer-col:nth-child(3), .footer-col:nth-child(4) {
        width: 25% !important;
        padding: 0 6px !important;
    }
    .footer-col:nth-child(5){
        width: 100% !important;
        padding: 0 6px !important;
        text-align: center;
    }
    .hero-title {
        font-size: 20px;
    }
    .hero-btn {
        width: 50%;
        text-align: left;
        padding-top: 45px;
        padding-bottom: 45px;
    }
    .hero-text {
        width: 40%;
    }
    li.nav-item:nth-child(1) a {
        font-size: 28px;
        font-weight: 700;
    }
    .navbar a.nav-link {
        font-size: 14px;
    }
    .w-500 {
        width: 400px;
    }
    .tile {
        margin: 5px 3%;
    }
    .icon-tile {
        width: 18% !important;
        height: 140px;
    }
    .cat-img {
        right: unset;
    }
    .checkout-pg .icon-tile {
        width: 26.5% !important;
        height: 140px;
    }
    .booking-date-heading h1,
    .book-btn-cnfrm-link {
        font-size: 25px;
    }
    h2.iland-price {
        font-size: 28px;
    }
    h2.iland-title {
        font-size: 22px;
    }
    .row.checkout-sum p {
        font-size: 12px;
        padding-top: 10px;
    }
    a.cod-btn,
    a.online-btn {
        padding: 8px 4px;
    }
    a.online-btn,
    a.cod-btn {
        font-size: 12px;
    }
    .checkout-addon h4.card-title.pb-3 {
        font-size: 16px !important;
        font-weight: 600;
        padding-bottom: 3px !important;
    }
    .checkout-pg .checkout-addon .card {
        margin: 12px 0;
    }
    .checkout-addon .card-body {
        padding: .5rem;
    }
    .checkin-text {
        font-size: 14px !important;
    }
    .badge-rating {
        /* background-color: #b44a55; */
        color: #fff;
        padding: 10px 15px !important;
        margin: 15px 30px 5px;
    }
    h3.checkin-text {
        font-size: 12px !important;
        font-weight: 600 !important;
    }
    .rate-place {
        color: #fff;
        font-size: 20px;
        margin-top: -10px;
        margin-bottom: -15px;
    }
    .sliders-row {
        justify-content: center;
        padding-top: 10px;
    }
    .facilities-list li {
        font-size: 11px;
    }
    .hut-detail-text {
        font-size: 12px;
        line-height: 1.8;
    }
    .rate-place {
        color: #fff;
        font-size: 20px;
        margin-top: unset;
        margin-bottom: 10px;
        width: 100%;
        text-align: center;
    }
    fieldset.rating.rate-place {
        margin: 0 20px;
    }
    .pr-pl-15 {
        padding-right: 15px !important;
        padding-left: 15px !important;
    }
    .checkin-text {
        font-size: 12px !important;
    }
    .facilities-col {
        padding: 10px 5px !important;
    }
    a.lang-switch {
        font-size: 16px;
    }
    .carousel-control-prev {
        background: linear-gradient(22deg, rgba(214, 50, 74, 1) 0%, rgba(234, 91, 85, 1) 84%, rgba(234, 91, 85, 1) 100%);
        border: 1px solid #ab3642;
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;
    }
    .carousel-control-next {
        background: linear-gradient(22deg, rgba(214, 50, 74, 1) 0%, rgba(234, 91, 85, 1) 84%, rgba(234, 91, 85, 1) 100%);
        border: 1px solid #ab3642;
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
    }
    .carousel-control-next, .carousel-control-prev {
        opacity: 0.9 !important;
        width: 3.5% !important;
        margin-top: 15px;
        height: 62%;
        top: 3px !important;
    }
    .checkout-total {
        margin-left: 20px !important;
        max-width: 54%!important;
    }
}

@media (max-width: 992px) {
    .custom-width {
        margin: 10px 0;
    }
    .hero-title {
        font-size: 20px;
        font-weight: 700;
    }
    .hero-container {
        display: flex;
        flex-direction: column;
    }
    .hero-btn {
        width: 100%;
        text-align: center;
        padding-top: 15px;
        padding-bottom: 15px;
    }
    .hero-text {
        width: 50%;
    }
    .hero-title {
        width: 85%;
        padding-bottom: 10px;
    }
    .checkout-pg .icon-tile {
        width: 27% !important;
        height: 120px;
    }
    .checkout-pg .tile {
        margin: 5px 2%;
    }
    .checkout-pg .cat-img {
        top: 20px;
    }
    a.cod-btn,
    a.online-btn {
        padding: 10px;
    }
    a.online-btn,
    a.cod-btn {
        font-size: 14px;
    }
    .checkout-pg .checkout-addon .card {
        margin: 10px 0;
    }
    .sliders-row {
        justify-content: center;
        padding-top: 10px;
    }
    .facilities-list li {
        font-size: 11px;
    }
    .hut-detail-text {
        font-size: 12px;
        line-height: 1.7;
        text-align: justify;
    }
    .rate-place {
        color: #fff;
        font-size: 20px;
        margin-top: unset;
        margin-bottom: 10px;
        width: 100%;
        text-align: center;
    }
    fieldset.rating.rate-place {
        margin: 0 20px;
    }
    .pr-pl-15 {
        padding-right: 15px !important;
        padding-left: 15px !important;
    }
    .checkin-text {
        font-size: 12px !important;
    }
    .facilities-col {
        padding: 10px 5px !important;
    }
    .cont-no-col {
        max-width: 100% !important;
        min-width: 100%;
    }
    .checkout-total {
        max-width: 100% !important;
        min-width: 100%;
        margin-left: 0 !important;
        margin-top: 22px;
    }
    .confirm-msg {
        font-size: 14px !important;
        padding: 1rem !important;
    }
    .order-num {
        font-size: 14px !important;
        padding: 1rem !important;
    }
    .backtohome-btn , .addmore-btn{
        font-size: 16px !important;
    }
}

@media (max-width: 991px) {
    .checkout-pg .icon-tile {
        width: 20% !important;
        height: 150px;
    }
    .checkout-pg .cat-img {
        right: calc(100% - 185px);
        top: 45px;
    }
    .heart {
        right: 10px;
        top: 20px;
    }
    .calender-table-col {
        padding: 15px 0 !important;
    }
    .pr-pl-15 {
        padding-right: 15px !important;
        padding-left: 15px !important;
    }
    fieldset.rating.rate-place {
        margin: 0 45px;
    }
    .facilities-col {
        padding: 10px 20px !important;
    }
    .success-check-background {
        height: 100% !important;
    }
    .success-check-container {
        width: 150px !important;
        height: 150px !important;
    }
}

@media(max-width:800px){
    .footer-col:nth-child(1), .footer-col:nth-child(2), .footer-col:nth-child(3), .footer-col:nth-child(4) {
        width: 50% !important;
        padding: 0 6px !important;
    }
    .footer-col:nth-child(5){
        width: 100% !important;
        padding: 0 6px !important;
        text-align: center;
    }
    .cat-img {
        width: 50px;
        height: 50px;
        right: calc(100% - 40px) !important;
        top: 40px;
    }
}

@media(max-width:768px) {
    .custom-width {
        margin: 10px 0;
    }
    .footer-col:nth-child(1), .footer-col:nth-child(2), .footer-col:nth-child(3), .footer-col:nth-child(4) {
        width: 50% !important;
        margin-bottom: 0;
    }
    .footer-col:nth-child(5) {
        margin: auto;
        width: 100% !important;
        text-align: center;
    }
    .hero-text {
        width: 50%;
    }
    .hero-title {
        font-size: 16px;
    }
    .icon-tile {
        width: 150px !important;
        height: 140px;
    }
    .tile {
        margin: 5px 1.5%;
    }
    .footer-col {
        width: 50%;
        margin-bottom: 30px;
    }
    .explore-btn {
        font-size: 16px !important;
    }
    a.online-btn,
    a.cod-btn {
        font-size: 12px;
    }
    a.cod-btn,
    a.online-btn {
        padding: 10px;
    }
    .checkout-pg .icon-tile {
        width: 20% !important;
        height: 130px;
    }
    .checkout-pg .cat-img {
        right: calc(100% - 140px) !important;
    }
    .checkout-pg .cat-img {
        top: 30px;
    }
    .checkout-pg .checkout-addon .card {
        margin: 12px 0;
    }
    .rate-place {
        color: #fff;
        font-size: 20px;
        margin-top: unset;
        margin-bottom: 10px;
        width: 100%;
        text-align: center;
    }
    .availability-headng {
        font-size: 18px;
        color: #fff;
        text-align: center;
    }
    fieldset.rating.rate-place {
        margin: 0;
    }
    .cat-img {
        width: 50px;
        height: 50px;
        right: calc(100% - 60px) !important;
        top: 40px;
    }
    .carousel-control-next, .carousel-control-prev {
        opacity: 0.9 !important;
        width: 4.5% !important;
        margin-top: 15px;
        height: 54%;
        top: 3px !important;
    }
    .carousel-control-prev {
        background: linear-gradient(
    22deg
    , rgba(214, 50, 74, 1) 0%, rgba(234, 91, 85, 1) 84%, rgba(234, 91, 85, 1) 100%);
        border: 1px solid #ab3642;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
    }
}

@media screen and (min-width:640px) and (max-width:1365px) {
    .hero {
        background-position: 50% 50%;
        height: 500px !important;
    }
}

@media all and (max-width: 767px) {
    .carousel-container #carousel-thumbs img {
        border-width: 3px;
    }
    .custom-width {
        min-width: 100%;
    }
}


/* @media all and (min-width: 576px) {
    .carousel-container #carousel-thumbs {
        position: absolute;
    }
} */
@media(max-width:720px){
    .footer-col:nth-child(1), .footer-col:nth-child(2), .footer-col:nth-child(3), .footer-col:nth-child(4) {
        width: 50% !important;
        padding: 0 6px !important;
    }
    .footer-col:nth-child(5){
        width: 100% !important;
        padding: 0 6px !important;
        text-align: center;
    }
    .cat-img {
        width: 50px;
        height: 50px;
        right: calc(100% - 40px) !important;
        top: 40px;
    }
    .tile {
        margin: 5px 2%;
    }
    .icon-tile {
        width: 133px !important;
        height: 140px;
    }
}
@media (max-width: 717px) {
    .rate-place {
        font-size: 18px;
    }
    .resp-ratng-checkin {
        padding-left: 0 !important;
    }
    h3.checkin-text {
        font-size: 12px !important;
    }
    .icon-tile {
        width: 138px !important;
        height: 140px;
    }
    .cat-img {
        width: 50px;
        height: 50px;
        right: calc(100% - 47px) !important;
        top: 40px;
    }
    .tile {
        margin: 5px 1.5%;
    }
}
@media screen and (max-width: 604px){
    .hero-container {
        position: relative;
        top: 200px;
        height: 350px;
    }
    .icon-tile {
        width: 160px !important;
        height: 150px;
    }
    .tile {
        margin: 5px 9%;
    }
    .cat-img {
        width: 50px;
        height: 50px;
        right: calc(100% - 70px) !important;
        top: 40px;
    }
}
@media screen and (max-width: 600px){
    .hero-container {
        position: relative;
        top: 200px;
        height: 350px;
    }
    .icon-tile {
        width: 160px !important;
        height: 150px;
    }
    .tile {
        margin: 5px 9%;
    }
    .cat-img {
        width: 50px;
        height: 50px;
        right: calc(100% - 70px) !important;
        top: 40px;
    }
}
@media screen and (max-width: 576px) {
    .carousel-container #carousel-thumbs {
        background: transparent;
    }
    .hero-container {
        position: relative;
        top: 200px;
        height: 350px;
    }
    .hero-text {
        width: 70%;
    }
    .tile {
        margin: 7px 2rem;
    }
    .icon-tile {
        width: 35% !important;
        height: 16%;
    }
    .footer-col:nth-child(1),
    .footer-col:nth-child(2),
    .footer-col:nth-child(3),
    .footer-col:nth-child(4) {
        width: 100% !important;
    }
    .footer-col {
        margin-bottom: 0;
    }
    .footer li {
        text-align: center;
    }
    .footer ul {
        padding-left: 0;
    }
    h2.beach-hut {
        font-size: 26px;
    }
    .pop-t-m {
        font-size: 16px !important;
        padding-top: 5px;
    }
    h3.back-to-home {
        font-size: 12px !important;
        padding-top: 12px;
    }
    a.cod-btn,
    a.online-btn {
        padding: 10px;
    }
    a.online-btn,
    a.cod-btn {
        font-size: 14px;
    }
    .checkout-pg .icon-tile {
        width: 28.5% !important;
        height: 130px;
    }
    .checkout-pg .cat-img {
        right: calc(100% - 145px) !important;
    }
    .checkout-total {
        margin-left: 0;
        padding-top: 30px;
        margin-top: 20px;
    }
    .checkout-pg .checkout-addon .card {
        margin: 12px 0;
    }
    .mi-card-title {
        font-size: 20px;
    }
    .mi-card-subtitle {
        font-size: 16px;
    }
    a.book-new-btn {
        font-size: 16px !important;
        padding: 10px !important;
    }
    .custm-wdth1 {
        max-width: unset !important;
        margin: 10px 0;
    }
    .custm-wdth2 {
        max-width: unset !important;
        margin: 10px 0;
    }
    .custm-wdth3 {
        max-width: unset !important;
        margin: 10px 0;
    }
    .custm-wdth4 {
        max-width: unset !important;
        margin: 10px 0;
    }
    .rate-place {
        color: #fff;
        font-size: 26px;
        padding: 10px 0;
        width: unset;
        text-align: unset;
    }
    p.rate-place {
        margin: 20px 0;
    }
    fieldset.rating.rate-place {
        margin: 10px 0;
    }
    .carousel-control-prev {
        background: linear-gradient(22deg, rgba(214, 50, 74, 1) 0%, rgba(234, 91, 85, 1) 84%, rgba(234, 91, 85, 1) 100%);
        border: 1px solid #ab3642;
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;
    }
    .carousel-control-next {
        background: linear-gradient(22deg, rgba(214, 50, 74, 1) 0%, rgba(234, 91, 85, 1) 84%, rgba(234, 91, 85, 1) 100%);
        border: 1px solid #ab3642;
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
    }
    .h-65 {
        height: auto;
    }
    div#carousel-thumbs {
        display: none;
    }
    .mbsc-calendar-title-wrapper.mbsc-ios {
        font-size: 20px !important;
    }
    .next-btn {
        font-size: 20px !important;
    }
}

@media screen and(max-width: 574px) {
    .footer-col {
        width: 100%;
    }
}

@media screen and (max-width: 540px) {
    .icon-tile {
        width: 35% !important;
        height: 20%;
    }
    .cat-img {
        width: 50px;
        height: 50px;
        right: calc(100% - 75px) !important;
        top: 40px;
    }
}
@media screen and (max-width: 480px){
    .tile {
        margin: 7px 1.8rem;
    }
    .cat-img {
        width: 50px;
        height: 50px;
        right: calc(100% - 55px) !important;
        top: 40px;
    }
    .icon-tile {
        width: 35% !important;
        height: 18%;
    }
    .checkout-pg .cat-img {
        right: calc(100% - 117px) !important;
    }
}
@media screen and (max-width: 425px) {
    .icon-tile {
        width: 40% !important;
        height: 20%;
    }
    .tile {
        margin: 7px 1rem;
    }
    .hero-text {
        width: 100%;
    }
    .hero-container {
        padding-left: 30px;
        padding-right: 30px;
    }
    .checkout-sum .iland-title,
    .checkout-sum p,
    .checkout-sum .iland-price {
        text-align: center;
    }
    .checkout-total {
        margin-left: 0;
        padding-top: 30px;
        margin-top: 20px;
    }
    .checkout-pg .icon-tile {
        width: 45% !important;
        height: 130px;
    }
    .checkout-pg .cat-img {
        right: calc(100% - 160px) !important;
    }
    .checkout-pg .checkout-addon .card {
        margin: 12px 0;
    }
    .checkout-addon h4.card-title.pb-3 {
        font-size: 16px !important;
    }
    .checkout-addon .card-subtitle {
        font-size: 14px !important;
    }
    .checkout-pg .tile>span {
        font-size: 12px;
    }
    .booking-date-heading h1,
    .book-btn-cnfrm-link {
        font-size: 16px;
    }
    .dv-calender {
        padding: 25px !important;
    }
    table.calender-table thead tr th:nth-child(1) {
        width: 25%;
    }
    table.calender-table thead tr th:nth-child(2) {
        width: 75%;
    }
    table.calender-table th {
        font-size: 24px !important;
    }
    table.calender-table td h3 {
        font-size: 20px !important;
    }
    table.calender-table td h4 {
        font-size: 14px;
    }
    td.calender-t-right {
        font-size: 14px;
    }
    .booking-date-pg .tiles {
        margin: 10px 4px;
    }
    .rate-place {
        color: #fff;
        font-size: 20px;
        margin-top: unset;
        margin-bottom: unset;
        width: 100%;
        text-align: center;
        padding: unset;
    }
    p.rate-place {
        margin: unset;
    }
    fieldset.rating.rate-place {
        margin: 10px 50px;
    }
    .checkin-text {
        font-size: 10px !important;
    }
    .badge-rating {
        padding: 8px 10px !important;
        margin: 15px auto;
    }
    .resp-ratng-checkin {
        padding-left: 0 !important;
    }
    h3.checkin-text {
        font-size: 12px !important;
    }
}

@media screen and (max-width:414px) {
    .checkout-pg .cat-img {
        right: calc(100% - 155px) !important;
    }
    .cat-img {
        width: 50px;
        height: 50px;
        right: calc(100% - 50px) !important;
        top: 40px;
    }
}

@media screen and (max-width: 411px) {
    .icon-tile {
        width: 40% !important;
        height: 18.5%;
    }
    .checkout-pg .cat-img {
        right: calc(100% - 155px) !important;
    }
    .cat-img {
        width: 50px;
        height: 50px;
        right: calc(100% - 45px) !important;
        top: 40px;
    }
}

@media screen and (max-width: 375px) {
    .icon-tile {
        width: 50% !important;
        height: 21%;
    }
    .tile {
        margin: 7px 5rem;
    }
    h2.beach-hut {
        font-size: 22px;
    }
    .pop-t-m {
        font-size: 14px !important;
        padding-top: 5px;
    }
    .booking-date-heading h1,
    .book-btn-cnfrm-link {
        font-size: 14px;
    }
    .checkout-pg .cat-img {
        right: calc(100% - 140px) !important;
    }
    .checkout-pg .tile>span {
        font-size: 10px;
    }
    table.calender-table thead tr th:nth-child(2) {
        width: 65%;
    }
    table.calender-table thead tr th:nth-child(1) {
        width: 35%;
    }
    .mbsc-calendar-title {
        font-size: .9em;
    }
    fieldset.rating.rate-place {
        margin: 10px 30px;
    }
    .timing-div .small-headng,
    .location-div .small-headng,
    .direction-div .small-headng {
        font-size: 11px;
    }
    h3.checkin-text {
        font-size: 11px !important;
    }
    .cat-img {
        width: 50px;
        height: 50px;
        right: calc(100% - 65px) !important;
        top: 40px;
    }
}

@media screen and (max-width: 360px) {
    .icon-tile {
        width: 50% !important;
        height: 21%;
    }
    .checkout-pg .cat-img {
        right: calc(100% - 135px) !important;
    }
    .cat-img {
        width: 50px;
        height: 50px;
        right: calc(100% - 55px) !important;
        top: 40px;
    }
}

@media screen and (max-width: 320px) {
    .tile {
        margin: 10px 3.2rem;
    }
    .icon-tile {
        width: 60% !important;
        height: 25%;
    }
    h2.beach-hut {
        font-size: 19px;
    }
    .pop-t-m {
        font-size: 11px !important;
        padding-top: 5px;
    }
    a.online-btn,
    a.cod-btn {
        font-size: 12px;
    }
    .booking-date-heading h1, .book-btn-cnfrm-link {
        font-size: 12px;
    }
    .booking-forms li {
        font-size: 12px;
    }
    h2.iland-price {
        font-size: 24px;
    }
    .checkout-addon .rec-added,
    .checkout-tiles h3.cat-headng {
        font-size: 18px !important;
    }
    .checkout-pg .cat-img {
        right: calc(100% - 115px) !important;
    }
    .checkout-pg .icon-tile {
        width: 45% !important;
        height: 120px;
    }
    .checkout-pg .tile>span {
        font-size: 9px;
    }
    fieldset.rating.rate-place {
        margin: 10px auto;
    }
    .facilities-list li {
        font-size: 10px;
    }
    a.form-add-details-btn {
        padding: 5 15px;
    }
    .next-btn {
        font-size: 14px !important;
    }
    .cat-img {
        width: 50px;
        height: 50px;
        right: calc(100% - 60px) !important;
        top: 40px;
    }
}

@media screen and (max-width: 280px) {
    .icon-tile {
        width: 70% !important;
        height: 22%;
    }
    .tile {
        margin: 10px 2rem;
    }
    .rate-place {
        font-size: 15px;
    }
    .checkout-pg .icon-tile {
        width: 55% !important;
        height: 120px;
    }
    .checkout-pg .tile {
        margin: 5px 22%;
    }
}